body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

dark-mode {
    background-color: black;
    color: white;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.review-container {
    margin-top: 20px;
}

#mode-toggle {
    margin: 10px;
}